Мы создаем проект для МЧС(пожарная служба). Он направлен на автоматизацию работы диспетчеров пожарной службы.
Роли:
1. Центральный диспетчер
2. Диспетчер пожарной части
3. Администратор
Приложение:
1. Должна быть авторизация без регистрации
2. При входе за админа, должна быть отдельная страница(админ панель) с следующим функционалом: создание аккаунтов диспетчерам, настройка уровней пожара и кол-ва машин требующихся для каждого уровня
3. При входе за центрального диспетчера, должен быть следующий функционал: просмотр карты, отметка пожара, выбор уровня пожара, автоматическая отправка диспетчеру ближайшей пожарной части, просмотр и генерация отчетов
4. При входе за диспетчера пожарной части, должен быть следующий функционал: просмотр карты с отметками маршрутов до пожара, получения уведомлений о пожаре, получение всей информации о пожаре, перевыбор уровня пожара (если он 1), отправка машин на пожар, просмотр и генерация отчетов
Алгоритм действий отметки пожара:
1. Центральный диспетчер на карте отмечает место пожара и указывает его уровень, либо выбирает автоматически если уровень автоматически не определяется то ставится первый.
2. Пожар отправляется диспетчеру ближайшей пожарной части вместе с уведомлением со звуком, если уровень стоит 1, то пожар находится в стадии разведки и его можно будет уже поменять на другой после разведки
3. Если в части нет необходимых машин на уровень пожара, то он автоматически сразу перенаправляется диспетчеру другой ближайшей пожарной части(так же с уведомлением)
4. На конкретный уровень пожара отправляется конкретное кол-во разных моделей машин
Примерный стек технологий:
1. Frontend (папка firedispatch-frontend): Next.js, TypeScript, TailwindCSS, Zustand, WebSocket
2. Backend (папка firedispatch-backend): Nest js, Prisma PostgreSQL, WebSocket
3. Авторизация: JWT
Когда пишешь код будь уверен на 100% уверен, что ты не ломаешь ничего существующего.